/*
    This file is part of Rpui project.

    Rptw is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rptw is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rptw.  If not, see <http://www.gnu.org/licenses/>.
*/


.tw_switch_nameContent{
  float: left;
  margin: 0px;
  text-align: left;
}

.tw_switch_statusContent{
  margin: 0px;
  float: left;
}

